body {
  margin: 0;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(180deg, #1c1c1c, #2a2a2a); /* oscuro, estilo Army */
}

canvas {
  display: block;
}

.message {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: #FFEB3B; /* amarillo Army */
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000;
  z-index: 10;
}